$primary-color: #2e3bad;
$secondary-color: #efefef;

$black: #000;
$white: #fff;
$green: #4caf50;
$fruit-salad: #4caf50;
$brown: #424242;
$lily-white: #e8f9ff;
$pampas: #f5f2f0;
$light-gray: #eee;
$periwinkle: #d1d1ff;
$gold-sand: #e1c186;
$cyan-aqua: #40e1ff;
$geraldine: #f79292;
$silver: #e2e2e2;
