// Font Sizes
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-18: 18px;
$fs-21: 21px;
$fs-22: 22px;
$fs-25: 25px;
$fs-28: 28px;
$fs-30: 30px;
$fs-34: 34px;
$fs-45: 45px;
$fs-55: 55px;
$fs-60: 60px;
$fs-64: 64px;

// Font Weights
$light: 300;
$regular: 400;
$medium: 500;
$bold: 700;
$bolder: 900;
