.footer {
  margin-top: 100px;
  height: 30px;
  background-color: $silver;
  width: 100%;
  font-family: Arial;
  & a {
    font-weight: $bold;
    color: $black;
    text-decoration: none;
  }
  @include font-size(14px);
  @include flex(row, nowrap, center);
  @include opacity($silver, 0.6);
}
